body {
  position: relative;
  width: 100%;
  height: 100%;
  // background-image: url('./images/movie-theatre-back.jpg');
  // background-size: cover;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

.App{
  background-image: url('./images/movie-theatre-back.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 950px;
}